body {
     opacity: 5.0;
  background: var(--bg);
  color: var(--fontColor);
  font-family: Arial, Helvetica, sans-serif;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style: circle;
}
.list {
    list-style: square;
}
#msg {
    font-family: monospace;
}
#Logo{
    padding: 30%;
    margin: auto;
    max-width: 457%;
}
section > nav {

} 
::marker {
    color: brown;
}
h2{
    padding: 5px;
    font-family: 'SILKscreen', cursive;
}
.conteudo-da-loja{
        align-items: center;
        margin: 20px;
        padding: auto;
        max-inline-size: 50%;
}
 img {
    width: 250px;
 }
 .light-theme {
   --bg: var(--green);
   --fontColor: var(--black);
   --btnBg: var(--black);
   --btnFontColor: var(--white);
 }
 .dark-theme {
   --bg: var(--black);
   --fontColor: var(--green);
   background-color:palegreen;
   --btn: var(--white);
   --btnFontColor: var(--Black);
 }
 ::root{
   --green: #00FF00;
   --white: #FFFFFF;
   --black: #000000;
 }
 .btn {
  color: var(--btnFontColor);
  background-color: var(--btnBg);
 }
 .btn {
   position:unset;
   top: 30px;
   left: 1000px;
   height: 50px;
   width: 100px;
   border-radius: 100%;
   border:animation-name ;
   color: var(--btnFontColor);
   background-color: var(--btnBg);
 }